# Dataframe:
Son estructuras de datos en donde cada columna establece una categoria de datos diferente, y cada fila corresponde a un vector/array/lista

In [1]:
import pandas as pd
import numpy as np
pd.__version__

'1.4.0'

In [2]:
d1={'a':[100, 'pesos', 'Colombia'], 'b':[200, 'pesos', 'Mexico']}

In [3]:
df=pd.DataFrame(d1)
df

          a       b
0       100     200
1     pesos   pesos
2  Colombia  Mexico

In [4]:
dict_data = {
    'edad' :     [ 10, 9, 13, 14, 12, 11, 12],
    'cm' : [ 115, 110, 130, 155, 125, 120, 125],
    'pais' :    [ 'co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch'],
    'genero' :  [ 'M', 'F', 'F', 'M', 'M', 'M', 'F'],
    'Q1' : [ 5, 10, 8, np.nan, 7, 8, 3],
    'Q2' : [ 7, 9, 9, 8, 8, 8, 9.]
}
dict_data

{'edad': [10, 9, 13, 14, 12, 11, 12],
 'cm': [115, 110, 130, 155, 125, 120, 125],
 'pais': ['co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch'],
 'genero': ['M', 'F', 'F', 'M', 'M', 'M', 'F'],
 'Q1': [5, 10, 8, nan, 7, 8, 3],
 'Q2': [7, 9, 9, 8, 8, 8, 9.0]}

In [5]:
df1=pd.DataFrame(dict_data)
df1

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   mx      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0

al igual que con las Series, se puede definir los indices con el kwarg Index:

In [6]:
df1=pd.DataFrame(dict_data, index=['ana','benito','camilo','daniel','erika','fabian','gabriela'])
df1

          edad   cm pais genero    Q1   Q2
ana         10  115   co      M   5.0  7.0
benito       9  110   mx      F  10.0  9.0
camilo      13  130   co      F   8.0  9.0
daniel      14  155   mx      M   NaN  8.0
erika       12  125   mx      M   7.0  8.0
fabian      11  120   ch      M   8.0  8.0
gabriela    12  125   ch      F   3.0  9.0

In [7]:
estudiantes = ['ana','benito','camilo','daniel','erika','fabian','gabriela']
df1=pd.DataFrame(dict_data, estudiantes)
df1

          edad   cm pais genero    Q1   Q2
ana         10  115   co      M   5.0  7.0
benito       9  110   mx      F  10.0  9.0
camilo      13  130   co      F   8.0  9.0
daniel      14  155   mx      M   NaN  8.0
erika       12  125   mx      M   7.0  8.0
fabian      11  120   ch      M   8.0  8.0
gabriela    12  125   ch      F   3.0  9.0

In [8]:
df1=pd.DataFrame(index=estudiantes, data=dict_data)
df1

          edad   cm pais genero    Q1   Q2
ana         10  115   co      M   5.0  7.0
benito       9  110   mx      F  10.0  9.0
camilo      13  130   co      F   8.0  9.0
daniel      14  155   mx      M   NaN  8.0
erika       12  125   mx      M   7.0  8.0
fabian      11  120   ch      M   8.0  8.0
gabriela    12  125   ch      F   3.0  9.0

se pueden conocer diferentes propiedades del dataframe:
- Columns: devuelve los nombres de las columnas/categorias
- Index: devuleve los valores de los indices
- Axes: devuelve el valor de indices y categorias
- Shape: devuelve las dimensiones del dataframe/matriz. filas x columnas
- values: devuelve los valores de la matriz sin los encabezados

In [9]:
df1.columns

Index(['edad', 'cm', 'pais', 'genero', 'Q1', 'Q2'], dtype='object')

In [10]:
df1.index

Index(['ana', 'benito', 'camilo', 'daniel', 'erika', 'fabian', 'gabriela'], dtype='object')

In [11]:
df1.shape

(7, 6)

In [12]:
df1.axes

[Index(['ana', 'benito', 'camilo', 'daniel', 'erika', 'fabian', 'gabriela'], dtype='object'),
 Index(['edad', 'cm', 'pais', 'genero', 'Q1', 'Q2'], dtype='object')]

In [13]:
df1.values

array([[10, 115, 'co', 'M', 5.0, 7.0],
       [9, 110, 'mx', 'F', 10.0, 9.0],
       [13, 130, 'co', 'F', 8.0, 9.0],
       [14, 155, 'mx', 'M', nan, 8.0],
       [12, 125, 'mx', 'M', 7.0, 8.0],
       [11, 120, 'ch', 'M', 8.0, 8.0],
       [12, 125, 'ch', 'F', 3.0, 9.0]], dtype=object)

## Obtener valores de un Dataframe:
para obtener valores se buscan al igual que en las series salvo que se puede buscar por categorias/columnas o por indices/vectores, en ese orden columnas, filas.

Para obtener los valores:
- .loc[filas, columnas]: mediante cadenas/str
- .iloc[filas, columnas]: mediante posiciones/int, recibe la funcion range por si se desea secuencias

si se utiliza ":" trae todos los valores.

In [14]:
df1['edad']

ana         10
benito       9
camilo      13
daniel      14
erika       12
fabian      11
gabriela    12
Name: edad, dtype: int64

In [15]:
df1[:3]

        edad   cm pais genero    Q1   Q2
ana       10  115   co      M   5.0  7.0
benito     9  110   mx      F  10.0  9.0
camilo    13  130   co      F   8.0  9.0

In [16]:
df1['edad']['ana']

10

In [17]:
df1['edad'][:3]

ana       10
benito     9
camilo    13
Name: edad, dtype: int64

In [18]:
atributos = ['edad', 'Q1']
indices = ['ana', 'camilo']
df1[atributos]

          edad    Q1
ana         10   5.0
benito       9  10.0
camilo      13   8.0
daniel      14   NaN
erika       12   7.0
fabian      11   8.0
gabriela    12   3.0

In [19]:
df1.loc[indices, atributos]

        edad   Q1
ana       10  5.0
camilo    13  8.0

In [20]:
df1.loc[:, atributos]

          edad    Q1
ana         10   5.0
benito       9  10.0
camilo      13   8.0
daniel      14   NaN
erika       12   7.0
fabian      11   8.0
gabriela    12   3.0

In [21]:
df1.loc[indices, :]

        edad   cm pais genero   Q1   Q2
ana       10  115   co      M  5.0  7.0
camilo    13  130   co      F  8.0  9.0

In [22]:
df1.iloc[[1,4], [1,2,5]]

         cm pais   Q2
benito  110   mx  9.0
erika   125   mx  8.0

In [23]:
df1.iloc[range(1,4), 1]

benito    110
camilo    130
daniel    155
Name: cm, dtype: int64

In [24]:
df1.iloc[range(1,4), :]

        edad   cm pais genero    Q1   Q2
benito     9  110   mx      F  10.0  9.0
camilo    13  130   co      F   8.0  9.0
daniel    14  155   mx      M   NaN  8.0

In [25]:
df1.iloc[:, 1]

ana         115
benito      110
camilo      130
daniel      155
erika       125
fabian      120
gabriela    125
Name: cm, dtype: int64

## Filtros:

Los dataframes, reciben filtros avanzados para la busqueda de valores:

In [26]:
df1[(df1['edad']>10) & (df1['pais']=='mx')]

        edad   cm pais genero   Q1   Q2
daniel    14  155   mx      M  NaN  8.0
erika     12  125   mx      M  7.0  8.0

In [27]:
df1.query('edad>12')

        edad   cm pais genero   Q1   Q2
camilo    13  130   co      F  8.0  9.0
daniel    14  155   mx      M  NaN  8.0

## Cargar y guardar datos en Dataframes
En este ejercicio se va a guardar una direccion local en una variable, a partir de ahí se crea el archivo CSV desde el dataframe con: 
~~~
.to_csv()
~~~
y para guardar un CSV en un dataframe:
~~~
pd.read_csv()
~~~

In [28]:
!pwd

/mnt/d/Platzi/DataScience/ipynb/pandas

In [29]:
directorioPandas = '/mnt/d/Platzi/DataScience/ipynb/pandas/'
directorioPandas

'/mnt/d/Platzi/DataScience/ipynb/pandas/'

In [30]:
df=df1

In [31]:
df.to_csv(f'{directorioPandas}/test.csv', index=False)

In [32]:
!ls

1inicio.ipynb		 7groupByPivot.ipynb	 poblacion.csv
2dataframe.ipynb	 8dateTime.ipynb	 test.csv
3operaciones.ipynb	 Meteorite_Landings.csv  worldBank
4multiplesIndices.ipynb  covid_19_data.csv	 worldBank.zip
5concatAppend.ipynb	 london_merged.csv
6merge.ipynb		 magicCommands.ipynb

In [33]:
csv=pd.read_csv('test.csv')
csv

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   mx      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0

## Explorar un Dataframe:

    Para el desarrollo del presente proyecto se debe descar el CSV del siguiente link: https://data.nasa.gov/Space-Science/Meteorite-Landings/gh4g-9sfh


Para explorar un dataframe se puden conocer algunos datos con las funciones:

- .head(): las primeras x filas de la tabla.
- .tail(): las ultimas x filas de la tabla.
- .sample(): devuelve una muestra aleatoria de X filas.
- .shape: devuelve un vector que establece el numero de filas y columnas.
- .size: devuelve la cantidad de datos en la tabla, filas*Columnas.
- .describe(): devuelve los estadisticos de las variables numericas. 
>con el *kwargs* __*include* = all__ : se agregan las variables categoricas.
- .info() y .dtypes(): se pueden ver los tipos de datos que contiene el dataframe, salvo que en .info se presenta mayor información.
>En los dataframes, se pueden guardar muchos tipos de datos como lo son:
> 1. Enteros
> 2. Flotantes
> 3. Strings salvo que son definidos como objetos

- 

--- 

Para definir el formato de los numeros se utiliza el siguiente codigo, el cual modifica todos los dataframes del documento.
~~~
pd.options.display.float_format='{:,.2f}'.format
~~~
que nos indica en los {}:
1. para todos los valores, separe con __*' , '*__ los miles 
2. con dos flotates (.2f) la cantidad de decimales.

Tambien para definir más facilmente los tipos de datos se utiliza el siguiente codigo:
~~~
x.convert_dtypes().dtypes
## donde x es el nombre del dataframe.
~~~

Este tipo de conversión transforma:
1. de object a String
2. de int64 a Int64, es decir, los enteros Int, pueden trabajar con los datos de tipo NaN.

In [34]:
!pwd

/mnt/d/Platzi/DataScience/ipynb/pandas

In [35]:
!ls

1inicio.ipynb		 7groupByPivot.ipynb	 poblacion.csv
2dataframe.ipynb	 8dateTime.ipynb	 test.csv
3operaciones.ipynb	 Meteorite_Landings.csv  worldBank
4multiplesIndices.ipynb  covid_19_data.csv	 worldBank.zip
5concatAppend.ipynb	 london_merged.csv
6merge.ipynb		 magicCommands.ipynb

In [36]:
df_Meteoritos=pd.read_csv('Meteorite_Landings.csv')
df_Meteoritos
df_Meteoritos.head(10)
df_Meteoritos.tail(8)
df_Meteoritos.sample(15)
df_Meteoritos.shape
df_Meteoritos.size
df_Meteoritos.describe()
pd.options.display.float_format='{:,.2f}'.format
df_Meteoritos.describe(include = 'all')
df_Meteoritos.info()
df_Meteoritos.convert_dtypes().dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         45716 non-null  object
 1   id           45716 non-null  int64
 2   nametype     45716 non-null  object
 3   recclass     45716 non-null  object
 4   mass (g)     45585 non-null  float64
 5   fall         45716 non-null  object
 6   year         45425 non-null  object
 7   reclat       38401 non-null  float64
 8   reclong      38401 non-null  float64
 9   GeoLocation  38401 non-null  object
dtypes: float64(3), int64(1), object(6)
memory usage: 3.5+ MB

name            string
id               Int64
nametype        string
recclass        string
mass (g)       Float64
fall            string
year            string
reclat         Float64
reclong        Float64
GeoLocation     string
dtype: object

## Trabajar con variables categoricas:

Se puede utilizar los siguientes metodos:
 - .nunique(): devuelve la cantidad de valores no unicos de cada columna.
 - .unique(): devuelve los valores unicos, pero solo funciona para una columna en cada aplicación.
 - .astype(): se puede definir el tipo de dato que incluye una o un conjunto de columnas.
 >Se puede utilizar de varias formas:
 >1. relizando un filtro de las columnas a cambiar y a esas se le asigna el mismofiltro con el metodo __.astype()__, por ejemplo:
 >>*x*[ [ *'filtro'* ] ] = x[ [ *'filtro'* ] ].astype(*'tipo de dato'*)
 >2. realizando el filtro mediante un diccionario:
 >>*x*.astype( { *'Columna' : 'tipo de dato'* } )
 - .value_counts(): devuelve la frecuencia de cada valor unico en el df; para que muestre valores normalizados (%) se utiliza el *kwargs* __Normalize = True__

- pd.get_dummies( *x* [ *'filtro'* ] ): Es otra forma de trabajar con categorias, es transformar los datos en variables dummies, es decir transforma la categoria en un valor numerico que representa un booleano, es decir 1 para True y 0 pra false.
___

Para manejar variables temporales:

- pd.to_datetime( _column_, _error: 'tipo error'_, _format_=_'tipo formato'_)

___

__*Manejo del dataframe:*__

- para agregar estas columnas al df, se utiliza el siguiente codigo:
>*x* [ *'nueva columna'* ] = _codigo de la información a incluir_ 
- list(x): muestra el nombre de las columnas del dataframe como una lista.
- .rename(columns={*'nombre antiguo'* : *'nombre nuevo'*, inplace=True}: cambia el nombre de una columna, el __*kwargs*__ __inplace__ define que se reemplace el dataframe original. 
- .drop([ *'nombre columna'* ], axis=1, inplace=True): elimina la columna especificada.
> El __*kwargs*__ *Axis* define el eje del dataframe, es decir 0 para las filas y 1 para las columnas, es importante definir este __*kwargs*__ debido a que si se renombraron los indices, busca el valor especificado en las filas por defecto.

- .drop([ *'nombre columna'* ], index=[ _valores de indice_ ], inplace=True): Si se desea además de borrar columnas, tambien unas filas definidas no se utiliza el axis, sino _index_ así:

- .copy(deep=True): genera una copia que incluye los indices asociados al df.

- .convert_dtypes(): convierte de los tipos de variables de acuerdo a las mejores posibilidades para los datos presentes.

In [37]:
print(f'Valores unicos de cada columna: \n{df_Meteoritos.nunique()}')
print(f'\nvalores unicos de la columna nametype: {df_Meteoritos["nametype"].unique()}\n')
#print(df_Meteoritos[['nametype','fall']])
df_Meteoritos[['nametype','fall']] = df_Meteoritos[['nametype','fall']].astype('category')
print(f'\nTipos de datos de las primeras 5 columnas del df Meteoritos:\n {df_Meteoritos.dtypes.head(5)}')

Valores unicos de cada columna:
name           45716
id             45716
nametype           2
recclass         466
mass (g)       12576
fall               2
year             266
reclat         12738
reclong        14640
GeoLocation    17100
dtype: int64

valores unicos de la columna nametype: ['Valid' 'Relict']


Tipos de datos de las primeras 5 columnas del df Meteoritos:
 name          object
id             int64
nametype    category
recclass      object
mass (g)     float64
dtype: object

In [38]:
df_Meteoritos = df_Meteoritos.astype({'id': 'int32'})
df_Meteoritos.dtypes

name             object
id                int32
nametype       category
recclass         object
mass (g)        float64
fall           category
year             object
reclat          float64
reclong         float64
GeoLocation      object
dtype: object

In [39]:
df_Meteoritos.value_counts('fall')
df_Meteoritos.value_counts('fall', normalize = True, sort=False)
pd.get_dummies(df_Meteoritos['fall'])
df_Meteoritos[['fell', 'found']] = pd.get_dummies(df_Meteoritos['fall'])
df_Meteoritos
df_Meteoritos['year']
pd.to_datetime(
df_Meteoritos['year'],
errors = 'coerce',
format = '%m/%d/%Y %H:%M:%S %p'
).sample(10)
df_Meteoritos['year'] =  pd.to_datetime(
df_Meteoritos['year'],
errors = 'coerce',
format = '%m/%d/%Y %H:%M:%S %p'
)
df_Meteoritos
df_Meteoritos.convert_dtypes().dtypes
df_Meteoritos.rename(columns={'mass (g)':'mass'}, inplace=True)
df_Meteoritos
list(df_Meteoritos)
df_Meteoritos.drop(columns = ['id','recclass'], index=[0,2,4,6]).head(10)
df  = df_Meteoritos.copy(deep=True)
df.drop(['id'],axis=1,inplace=True)
list(df)

['name',
 'nametype',
 'recclass',
 'mass',
 'fall',
 'year',
 'reclat',
 'reclong',
 'GeoLocation',
 'fell',
 'found']

In [40]:
df.head(5)

,name,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation,fell,found
0,Aachen,Valid,L5,21.00,Fell,1880-01-01 12:00:00,50.77,6.08,"(50.775, 6.08333)",1,0
1,Aarhus,Valid,H6,720.00,Fell,1951-01-01 12:00:00,56.18,10.23,"(56.18333, 10.23333)",1,0
2,Abee,Valid,EH4,"107,000.00",Fell,1952-01-01 12:00:00,54.22,-113.00,"(54.21667, -113.0)",1,0
3,Acapulco,Valid,Acapulcoite,"1,914.00",Fell,1976-01-01 12:00:00,16.88,-99.90,"(16.88333, -99.9)",1,0
4,Achiras,Valid,L6,780.00,Fell,1902-01-01 12:00:00,-33.17,-64.95,"(-33.16667, -64.95)",1,0